In [1]:
#Added libraries to work with pyplot
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

#Read to see the fema data
fema_data= pd.read_csv("fema.csv", header=None, low_memory=False)
fema_data= fema_data.sample(frac=1).reset_index(drop=True)
fema_data.head()

,0,1,2,3,4,5,6,7,8
0,3201,02/17/2005,Snow,Massachusetts,Worcester,MENDON (TOWN OF),No,1,"$23,759.16"
1,4214,04/13/2015,Severe Storm(s),Massachusetts,Essex,SALISBURY (TOWN OF),No,1,"$30,394.46"
2,1843,06/11/2009,Flood,Alaska,Southeast Fairbanks (C,EAGLE HISTORICAL SOCIETY & MUSEUM,No,2,$0.00
3,1889,03/23/2010,Snow,New Jersey,Burlington,BURLINGTON BRIDGE COMMISSION,No,1,"$16,970.72"
4,1857,09/01/2009,Severe Storm(s),New York,Cattaraugus,CATTARAUGUS,No,3,"$17,035.91"

In [2]:
#selected columnos and cleaning data for FEMA
fema_data_clean = fema_data[[2, 3, 4]]
fema_data_clean = fema_data_clean.rename(columns={fema_data.columns[2]:"Disaster Type", fema_data.columns[3]:"State", fema_data.columns[4]:"County"})
fema_data_clean.head()

     Disaster Type          State                  County
0             Snow  Massachusetts               Worcester
1  Severe Storm(s)  Massachusetts                   Essex
2            Flood         Alaska  Southeast Fairbanks (C
3             Snow     New Jersey              Burlington
4  Severe Storm(s)       New York             Cattaraugus

In [3]:
#Eliminating duplicates
fema_data_clean.drop_duplicates(['County'], keep='last', inplace=False)

           Disaster Type          State            County
2108               Flood     California             Glenn
3642     Severe Storm(s)        Montana          Treasure
4416     Severe Storm(s)          Idaho               Gem
4518               Flood          Texas          McMullen
4957     Severe Storm(s)         Alaska       Bristol Bay
6242     Severe Storm(s)         Oregon           Wallowa
8078     Severe Storm(s)       Nebraska             Keith
11136    Severe Storm(s)          Texas          Hudspeth
19958          Hurricane       Virginia    Bristol (city)
23150               Fire          Texas     Collingsworth
24090               Fire          Texas           Winkler
26308    Severe Storm(s)        Montana        Deer Lodge
30597              Flood           Utah           Daggett
32409          Hurricane          Texas             Ector
33915               Fire          Texas            Dallam
37356               Fire          Texas            Zapata
38084    Severe Storm(s)        Montana       Sweet Grass
40481    Severe Storm(s)       Virginia  Lexington (city)
40636          Hurricane          Texas            Reeves
42913               Fire          Texas             Crane
43538               Snow       Michigan            Alcona
43704               Fire          Texas           Andrews
43741               Snow   South Dakota           Bennett
44015    Severe Storm(s)       Nebraska            Hooker
44672    Severe Storm(s)     New Mexico               Lea
46747              Flood        Montana        Stillwater
47482               Snow       Michigan       Montmorency
48224    Severe Storm(s)        Arizona           Cochise
48930          Hurricane       Virginia         Goochland
50674    Severe Storm(s)        Montana           Daniels
...                  ...            ...               ...
157925   Severe Storm(s)     New Mexico             Otero
157926   Severe Storm(s)       New York        Rensselaer
157927             Flood  West Virginia          Nicholas
157929         Hurricane       New York       Westchester
157930   Severe Storm(s)       Illinois        Stephenson
157931   Severe Storm(s)   Pennsylvania              Pike
157932   Severe Storm(s)      Minnesota        Pennington
157933  Severe Ice Storm           Iowa           Johnson
157934   Severe Storm(s)           Ohio           Carroll
157935         Hurricane  West Virginia           Raleigh
157936             Flood          Texas            Karnes
157937         Hurricane        Florida               Lee
157938         Hurricane     New Jersey          Atlantic
157940  Severe Ice Storm       Arkansas          Woodruff
157941             Flood      Minnesota              Todd
157942  Severe Ice Storm       Illinois         St. Clair
157943        Earthquake         Hawaii            Hawaii
157944         Hurricane        Florida        Miami-Dade
157945             Flood       Illinois           McHenry
157946         Hurricane        Alabama           Baldwin
157947   Severe Storm(s)     New Jersey         Middlesex
157948   Severe Storm(s)        Indiana          Hamilton
157949   Severe Storm(s)           Iowa           Clayton
157950   Severe Storm(s)    Mississippi      Tallahatchie
157951              Snow     New Jersey            Hudson
157952   Severe Storm(s)       Oklahoma         Cleveland
157953         Hurricane        Florida           Broward
157954   Severe Storm(s)   North Dakota         Statewide
157955   Severe Storm(s)       Arkansas             White
157956  Severe Ice Storm        Georgia          Glascock

[1863 rows x 3 columns]

In [4]:
#Read from census data the FIPS by state and county
geocodes_data= pd.read_csv("geocodes.csv", header=None, low_memory=False)
geocodes_data= geocodes_data.sample(frac=1).reset_index(drop=True)
geocodes_data.head()

     0   1    2      3      4      5                 6
0  162  48  000  00000  35348  00000       Humble city
1  162  18  000  00000  68670  00000  Sellersburg town
2  061  46  037  01540  00000  00000  Andover township
3  061  38  101  72075  00000  00000   Shealy township
4  061  23  013  63660  00000  00000     Rockport town

In [5]:
#Selection of FIPS codes with the idea to compare the FEMA counties and be able to plot by FIPS
geocodes_data_clean = geocodes_data[[1, 2, 6]]
geocodes_data_names = geocodes_data_clean.rename(columns={geocodes_data.columns[1]:"State FIPS", geocodes_data.columns[2]:"County FIPS", geocodes_data.columns[6]:"State County"})
geocodes_data_names.head()

  State FIPS County FIPS      State County
0         48         000       Humble city
1         18         000  Sellersburg town
2         46         037  Andover township
3         38         101   Shealy township
4         23         013     Rockport town

In [6]:
geocodes_data_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43939 entries, 0 to 43938
Data columns (total 3 columns):
State FIPS      43935 non-null object
County FIPS     43935 non-null object
State County    43935 non-null object
dtypes: object(3)
memory usage: 1.0+ MB

In [7]:
#Merging FIPS per State and County, plotly recognize the FIPS combination for plotting.
geocodes_data_names['idfips']=geocodes_data_names['State FIPS'].map(str) + geocodes_data_names['County FIPS'].map(str)

In [8]:
geocodes_data_names.head()

  State FIPS County FIPS      State County idfips
0         48         000       Humble city  48000
1         18         000  Sellersburg town  18000
2         46         037  Andover township  46037
3         38         101   Shealy township  38101
4         23         013     Rockport town  23013

In [9]:
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
go.choropleth
import geopandas

In [10]:
import plotly
from config import api_key
plotly.tools.set_credentials_file(username='Demorneau', api_key=api_key)

In [11]:
fema_data_clean.head()

     Disaster Type          State                  County
0             Snow  Massachusetts               Worcester
1  Severe Storm(s)  Massachusetts                   Essex
2            Flood         Alaska  Southeast Fairbanks (C
3             Snow     New Jersey              Burlington
4  Severe Storm(s)       New York             Cattaraugus

In [12]:
#Plot recognize state label as code for select the color in mapping.
example = fema_data_clean.groupby('State')['County'] \
                        .count() \
                        .reset_index() \
                        .rename(columns={'County': 'Number of Storms'})

state_codes = {
    'District of Columbia' : 'dc','Mississippi': 'MS', 'Oklahoma': 'OK', 
    'Delaware': 'DE', 'Minnesota': 'MN', 'Illinois': 'IL', 'Arkansas': 'AR', 
    'New Mexico': 'NM', 'Indiana': 'IN', 'Maryland': 'MD', 'Louisiana': 'LA', 
    'Idaho': 'ID', 'Wyoming': 'WY', 'Tennessee': 'TN', 'Arizona': 'AZ', 
    'Iowa': 'IA', 'Michigan': 'MI', 'Kansas': 'KS', 'Utah': 'UT', 
    'Virginia': 'VA', 'Oregon': 'OR', 'Connecticut': 'CT', 'Montana': 'MT', 
    'California': 'CA', 'Massachusetts': 'MA', 'West Virginia': 'WV', 
    'South Carolina': 'SC', 'New Hampshire': 'NH', 'Wisconsin': 'WI',
    'Vermont': 'VT', 'Georgia': 'GA', 'North Dakota': 'ND', 
    'Pennsylvania': 'PA', 'Florida': 'FL', 'Alaska': 'AK', 'Kentucky': 'KY', 
    'Hawaii': 'HI', 'Nebraska': 'NE', 'Missouri': 'MO', 'Ohio': 'OH', 
    'Alabama': 'AL', 'Rhode Island': 'RI', 'South Dakota': 'SD', 
    'Colorado': 'CO', 'New Jersey': 'NJ', 'Washington': 'WA', 
    'North Carolina': 'NC', 'New York': 'NY', 'Texas': 'TX', 
    'Nevada': 'NV', 'Maine': 'ME'}

example['Code'] = example['State'].map(state_codes)
example = example.dropna()
example.head()

        State  Number of Storms Code
0     Alabama              2360   AL
1      Alaska               438   AK
3     Arizona               259   AZ
4    Arkansas              2599   AR
5  California              3068   CA

In [20]:
#Creating a chloropeth map for the FEMA events
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

import pandas as pd

df = example

for col in df.columns:
    df[col] = df[col].astype(str)


scl = [
    [0.0, 'rgb(255,255,235)'],
    [1.0, 'rgb(255,0,0)']
]


df['text'] = 'The state of ' + df['State'] + ' had ' + df['Number of Storms'] + ' FEMA incidents'


data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df['Code'],
    z = df['Number of Storms'].astype(float),
    locationmode = 'USA-states',
    text = df['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Number of Storms")
)]


layout = go.Layout(
    title = go.layout.Title(
        text = 'FEMA Reported Storms by State (2017-2019)<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'FEMA map')

In [15]:
#Creating a data frame for the cities to analyze.
stateprices = {"State":["IL","MI","NY","PA","FL","GA","TX","AZ","CA","CA","CA","WA"], \
            "City":["Chicago","Detroit","New York","Philadelphia","Miami","Atlanta","Dallas","Phoenix","Los Angeles",\
                   "Long Beach", "Anaheim","Seattle"],
            "FIPS":['17031', '26163', '36063', '42103', '12086', '13013', '48113', '85003', '06037','06430','06020','53630'],
            "Housing Price Rate":["231500","135000","388800","205100","264800","206200","252900","237500","610350", \
                                  "490000","521000","442000"]
                 }
df_stateprices=pd.DataFrame(stateprices)
df_stateprices.head()

  State          City   FIPS Housing Price Rate
0    IL       Chicago  17031             231500
1    MI       Detroit  26163             135000
2    NY      New York  36063             388800
3    PA  Philadelphia  42103             205100
4    FL         Miami  12086             264800

In [21]:
#Graph of the house prices selected for analysis
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

import pandas as pd


df1 = df_stateprices

for col in df_stateprices.columns:
    df_stateprices[col] = df_stateprices[col].astype(str)

scl = [
    [0.0, 'rgb(135,206,250)'],
    [1.0, 'rgb(0,0,255)']
]


df1['text'] = 'Housing Price ' + df_stateprices['Housing Price Rate'] + ' For the City of  ' + df_stateprices['City']



data1 = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df_stateprices['State'],
    z = df_stateprices['Housing Price Rate'].astype(float),
    locationmode = 'USA-states',
    text = df1['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Selected Cities Median Housing Prices")
)]


layout = go.Layout(
    title = go.layout.Title(
        text = 'Selected States for Price Analysis based on severe climate'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data1, layout = layout)
py.iplot(fig, filename = 'House map')

In [ ]:
'''
Is important to note that the housing pricing is not directly related with the number of FEMA events
per state, but more in correlation with population and job available in the selected areas.
'''